8.5-REAL-build/jeus/lib/schemas/jeus/jeus-valve.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.tmaxsoft.com/xml/ns/jeus" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified" targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="8.5">

    <xs:include schemaLocation="jeus-common.xsd"/>

    <xs:complexType name="pipelineType">
        <xs:annotation>
            <xs:documentation><![CDATA[
                        [Description]: valve들을 하나로 묶어주는 설정이다.
                        [Label]: Pipeline
                    ]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="valve" type="valveType" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[
                        [Description]: 서버, 가상호스트 혹은 컨텍스트 별로 valve를 적용하고 싶을 때, 적용하는 설정이다.
                        [Label]: Valve
                    ]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="valveType">
        <xs:sequence>
            <xs:element name="class-name" minOccurs="1" maxOccurs="1" type="xs:token">
                <xs:annotation>
                    <xs:documentation><![CDATA[
                        [ID]: ID
                        [Description]: 서버, 가상호스트 혹은 컨텍스트에 적용할 valve class를 지정한다.
                        [Value Description]: 제우스의 ValveBase를 상속받은 클래스
                        [Label]: Valve Class name
                    ]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="property" minOccurs="0" maxOccurs="unbounded" type="propertyType">
                <xs:annotation>
                    <xs:documentation><![CDATA[
                        [Description]: valve에 적용할 property를 지정한다.
                        [Value Description]: 매뉴얼에서 안내하고 있는 key, value
                        [Label]: property
                    ]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
