8.5-REAL-build/jeus/lib/schemas/jeus/system-clustering-framework.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.tmaxsoft.com/xml/ns/jeus" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="8.5">

    <xs:include schemaLocation="jeus-common.xsd"/>

    <xs:element name="system-clustering-framework" type="system-clustering-frameworkType">
        <xs:annotation>
            <xs:documentation><![CDATA[
                [Description]: 도메인 또는 클러스터 내에서 서버들 간에 통신할 때 필요한 정보를 설정한다.
                [Advanced]: 도메인이 서브넷 안에서 구성되는 경우에는 특별한 설정이 필요없다.
                [Label]: System Clustering Framework
            ]]></xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:simpleType name="scfTransportType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DUMMY"/>
            <xs:enumeration value="HYBRID"/>
            <xs:enumeration value="MESH"/>
            <xs:enumeration value="TREE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="system-clustering-frameworkType">
        <xs:sequence>
            <xs:element name="transport" type="scfTransportType" default="HYBRID">
                <xs:annotation>
                    <xs:documentation><![CDATA[
                    [Description]: Transport의 종류를 명시한다. DUMMY, HYBRID, MESH, TREE의 네 종류를 사용할 수 있다.
                    DUMMY: 타 서버와 일체의 통신을 하지 않고 독립적으로 동작하는 모드, HYBRID: 각 서버간의 Health Check 및 간단한 메시징은
                    Multicast로 수행하고, 대용량의 메시징은 TCP/IP로 수행하는 모드, MESH: TCP/IP를 이용하여 모든 서버가 Full Mesh 방식으로
                    연결하는 모드, TREE: TCP/IP를 이용하여 연결하되 각 서버들은 Root로만 연결하여 Tree 형태가 되도록 하는 모드
                    [Label]: Transport
                ]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="transport-address" type="xs:token" default="224.0.0.1">
                <xs:annotation>
                    <xs:documentation><![CDATA[
                    [Description]: Transport의 동작에 필요한 주소값을 설정한다. 설정한 Transport의 종류에 따라서 의미가 달라진다.
                    Hybrid Transport의 경우에는 Multicast-address를, Tree Type Virtual Multicast의 경우에는 Root Node의
                    IP Address를 설정해야 한다. Mesh Type Virtual Multicast의 경우에는 각 서버의 Listen Address를 설정값으로
                    사용하므로 이곳에 명시할 필요는 없다.
                    [Label]: Transport Address
                ]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="transport-port" type="positiveIntType" default="12488">
                <xs:annotation>
                    <xs:documentation><![CDATA[
                    [Description]: Transport의 동작에 필요한 포트 번호를 설정한다. 이 부분 역시 설정한 Transport의 종류에 따라서 의미가 달라진다.
                    [Label]: Transport Port
                ]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="leader-discovery-timeout" type="positiveLongType" default="3000">
                <xs:annotation>
                    <xs:documentation><![CDATA[
						[Description]: 최초에 기동하여 기존에 형성되어있는 Group의 Leader를 찾아내기까지 허용되는 최대 시간을 설정한다.
                        설정된 시간이 지나도 Leader를 찾지 못한다면 자신이 Leader가 되었다고 선언한다. 이 시간은 새 Leader 선출에도 이용된다.
                        [Value Description]: 밀리세컨드
						[Label]: Leader Discovery Timeout
					]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="failure-detection-timeout" type="positiveLongType" default="10000">
                <xs:annotation>
                    <xs:documentation><![CDATA[
						[Description]: 상대방 Peer들의 장애 감지를 수행하는 주기 및 timeout등으로 사용되는 값을 설정한다.
                        [Value Description]: 밀리세컨드
						[Label]: Failure Detection Timeout
					]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="max-thread-pool-size" type="positiveIntType" default="10">
                <xs:annotation>
                    <xs:documentation><![CDATA[
						[Description]: System Clustering Framework에서 사용하는 Thread pool 크기의 최대치를 설정한다.
						[Label]: Max Thread Pool Size
					]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="min-thread-pool-size" type="nonNegativeIntType" default="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[
						[Description]: System Clustering Framework에서 사용하는 Thread pool 크기의 최소치를 설정한다.
						[Label]: Min Thread Pool Size
					]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>